<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.exefire.appecc"
        versionCode = "1" 
        version     = "1.0.0" >
  <name>Encuentro</name>
  <description>Iglesia Encuentro con Cristo Ñuñoa.</description>
  <author href="https://www.exefire.com" email="egallardo@exefire.com">Exequiel Gallardo</author>
  <access origin="*" />
  <access origin="*.exefire.*" />
  <icon src="res/icon.png" />
	
	
  <platform name="ios">
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <preference name="target-device" value="handset" />
    <preference name="prerendered-icon" value="true" />
    <icon src="res/ios/icon-60@3x.png" width="180" height="180" />
    <icon src="icon-60.png" platform="ios" width="60" height="60" />
    <icon src="icon-60@2x.png" platform="ios" width="120" height="120" />
    <icon src="icon-76.png" platform="ios" width="76" height="76" />
    <icon src="icon-76@2x.png" platform="ios" width="152" height="152" />
    <icon src="icon-small.png" platform="ios" width="29" height="29" />
    <icon src="icon-small@2x.png" platform="ios" width="58" height="58" />
    <icon src="icon-40.png" platform="ios" width="40" height="40" />
    <icon src="icon-40@2x.png" platform="ios" width="80" height="80" />
  </platform>
	
  <platform name="android">
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
  </platform>
	
	<plugin name="de.appplant.cordova.plugin.hidden-statusbar-overlay" spec="1.2.0" source="pgb" />
	<plugin name="org.apache.cordova.inappbrowser" spec="0.6.0" source="pgb" />
</widget>
